<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/font-awesome.min.css">
    <link href="static/font-awesome.min.css" rel="stylesheet">
	<link href="static/WEB.css" rel="stylesheet">
	<link href="static/index.css" rel="stylesheet">
	<script src="static/jquery-1.12.4.min.js"></script>
	<script src="static/wb.panel.min.js"></script>
	<script src="static/jquery-ui.min.js"></script>
	<script src="static/wb.newsviewer.min.js"></script>
	<script src="static/wwb12.min.js"></script>
</head>
<body>
   
</body>
</html>
