/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
     background: linear-gradient(128deg, #f83600 , #f9d423 , #ff4e50);
background-size: 1600% 1600%;
    -webkit-animation: AnimationName 31s ease infinite;
-moz-animation: AnimationName 31s ease infinite;
animation: AnimationName 31s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}


.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
                

.fa{
  width: 50%;
  height: 50%;
}


.footer {
  position: absolute;
  width: 100%;
  opacity: 0.9;
  bottom: 0;
  width: 60%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center; 
  margin: auto;
  
}



.btn-primary{
  border-radius:2px;
  background:#6caee0;
  color:#ffffff;
  font-weight:bold;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding:14px 22px;
  border:0;
  margin:0 auto;
  outline:none;
}

.dropdown-toogle{
  margin: 0,auto;
}

.navbar-default{
  color: white;
}
.navbar{
  
   border:6px;
   
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

  position: sticky;
}

.navbar-brand{
  color: white;
}

.alert.alert-success{
  margin-top: 20px;
}

.navbar-center{
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border:6px;
}

.container{
  padding-top: 5px
  center
}

.jumbotron{
margin: auto;
margin-top: 10px;
padding-top: 12px;
padding-bottom: 10px;
background: #F5F5DC;
}

.container .text-muted {
  margin: 20px 0;
  
}

.container-center{
   border:6px;
  margin:2px;
  
}

.caption{
  border:6px;
  margin:2px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #F5F5DC;
  margin: 0 auto;
}

.row{
  border:6px;
  margin:auto;
  margin-top: 10px;
    background-color: #F5F5DC;
  padding-bottom: 0px;
  padding-top: 20px;
}

.box{
    background-color: #F5F5DC;
}
.well{
    border:6px;
  margin:2px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #f5f5f5;
}

.delete-form{
   box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
   border:6px;
}

.edit-form{
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
   border:6px;
}

.rowlogin{
  border:6px;
  margin:10px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

  padding-bottom: 0px;
}

.flex-wrap {
   border:6px;
  margin:2px;
  margin-top: 20px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    padding: 0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
   border:6px;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Campground show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}
