body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_PageHeader {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: #454744;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#PageHeader {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 0px 15px;
}
#PageHeader .row {
   margin-left: -15px;
   margin-right: -15px;
}
#PageHeader .col-1,
#PageHeader .col-2,
#PageHeader .col-3 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#PageHeader .col-1,
#PageHeader .col-2,
#PageHeader .col-3 {
   float: left;
}
#PageHeader .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 16.66666667%;
}
#PageHeader .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 66.66666667%;
}
#PageHeader .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: right;
   width: 16.66666667%;
}
#PageHeader:before,
#PageHeader:after,
#PageHeader .row:before,
#PageHeader .row:after {
   content: " ";
   display: table;
}
#PageHeader:after,
#PageHeader .row:after {
   clear: both;
}
@media (max-width: 480px) {
#PageHeader .col-1,
#PageHeader .col-2,
#PageHeader .col-3 {
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon1 {
   background-color: #454545;
   background-image: none;
   border: 0px #454545 solid;
   padding: 15px 15px 15px 15px;
   text-align: center;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover {
   background-color: #454545;
   background-image: none;
   border: 0px #454545 solid;
}
#FontAwesomeIcon1 {
   height: 40px;
   width: 40px;
}
#FontAwesomeIcon1 i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 40px;
}
#wb_FontAwesomeIcon1:hover i {
   color: #B7B7B7;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   display: block;
   text-align: left;
   vertical-align: middle;
}
#PanelMenu1_markup {
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup {
   display: block;
}
#PanelMenu1_markup ul {
   list-style-type: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a,
#PanelMenu1_markup li a:hover {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border-bottom-width: 0px;
   border-radius: 0;
   border-width: 0;
   box-shadow: none;
   padding: 10px 10px 10px 10px;
}
#PanelMenu1_panel {
   display: none;
   height: 100%;
   position: absolute;
   position: fixed;
   top: 0;
   width: 250px;
   z-index: 9999;
}
#PanelMenu1_overlay {
   background-color: #000000;
   display: none;
   height: 100%;
   left: 0;
   opacity: 0.5;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 9998;
}
#wb_PanelMenu1 a,
#PanelMenu1_markup li a {
   background-color: #454744;
   border: 0px #2E2E2E solid;
   color: #F7F7F7;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a:hover,
#PanelMenu1_markup li a:hover {
   background-color: #B7B7B7;
   border: 0px #2E2E2E solid;
   color: #454744;
}
#PanelMenu1_panel {
   background-color: #454744;
   overflow-y: auto;
}
#PanelMenu1 {
   padding-right: 48px;
}
#PanelMenu1:after {
   content: "\f0c9";
   display: inline-block;
   font-family: FontAwesome;
   font-size: 32px;
   height: 32px;
   line-height: 32px;
   margin-top: -16px;
   position: absolute;
   right: 16px;
   top: 50%;
   width: 32px;
}
#PanelMenu1 {
   height: 70px;
   line-height: 70px;
   position: absolute;
   width: 15px;
}
#PanelMenu1_markup ul li i {
   font-size: 32px;
   padding: 0px 10px 0px 0px;
   vertical-align: middle;
   width: 32px;
}
#PanelMenu1_markup span {
   display: inline-block;
   height: 32px;
   line-height: 32px;
   vertical-align: middle;
}
#wb_Heading1 {
   -moz-animation: vanish-in 500ms linear 0ms 1 normal both;
   -moz-box-sizing: border-box;
   -webkit-animation: vanish-in 500ms linear 0ms 1 normal both;
   -webkit-box-sizing: border-box;
   animation: vanish-in 500ms linear 0ms 1 normal both;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   box-sizing: border-box;
   padding: 15px 0px 15px 0px;
}
#Heading1 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 32px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#intro {
   background-color: transparent;
   background-image: url(images/1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#intro-overlay {
   background-color: #000000;
   bottom: 0;
   left: 0;
   opacity: 0.5;
   position: absolute;
   right: 0;
   top: 0;
}
#wb_Heading2 {
   -moz-animation: heartbeat-1 500ms linear 0ms 1 normal both;
   -webkit-animation: heartbeat-1 500ms linear 0ms 1 normal both;
   animation: heartbeat-1 500ms linear 0ms 1 normal both;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading2 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 48px;
   font-weight: bold;
   margin: 0;
   text-align: center;
}
#Heading2 a {
   color: #FFFFFF;
   text-decoration: none;
}
#NewsFeedTicker1 {
   padding: 0px;
   text-align: center;
}
#NewsFeedTicker1 .headline {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   font-style: normal;
   font-weight: bold;
   height: 100%;
   margin: 0 0 8px 0;
   overflow: hidden;
   padding: 8px;
   position: absolute;
   text-decoration: none;
   width: 100%;
}
#NewsFeedTicker1 h4 {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-style: normal;
   font-weight: bold;
   margin-bottom: .25em;
   margin-top: .5em;
   text-decoration: none;
}
#NewsFeedTicker1 h4 a {
   color: #FFFFFF;
   text-decoration: none;
}
#NewsFeedTicker1 .news-wait {
   left: 50%;
   margin-left: -10px;
   position: absolute;
   top: 30%;
   z-index: 4;
}
#wb_LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: #2C3E50;
   background-image: none;
   border: 0px #2C3E50 solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 10px 15px;
}
#LayoutGrid1 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid1 .col-1,
#LayoutGrid1 .col-2,
#LayoutGrid1 .col-3 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid1 .col-1,
#LayoutGrid1 .col-2,
#LayoutGrid1 .col-3 {
   float: left;
}
#LayoutGrid1 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 33.33333333%;
}
#LayoutGrid1 .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 33.33333333%;
}
#LayoutGrid1 .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 33.33333333%;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid1 .col-1,
#LayoutGrid1 .col-2,
#LayoutGrid1 .col-3 {
   float: none;
   width: 100%;
}
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: center;
}
#wb_Text1 div {
   text-align: center;
}
#wb_Text2 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#wb_Text2 div {
   text-align: center;
}
#wb_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: center;
}
#wb_Text3 div {
   text-align: center;
}
#wb_Text5 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 20px 0px 20px 0px;
   text-align: center;
}
#wb_Text5 div {
   text-align: center;
}
#wb_FontAwesomeIcon2 {
   background-color: #2C3E50;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   text-align: center;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon2 {
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon2 i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 9px;
}
#wb_FontAwesomeIcon2:hover i {
   color: #18BC9C;
}
#wb_FontAwesomeIcon2 {
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: 0,1.0,1.0,0,0,0,0;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon2:hover {
   -moz-transform: rotate(360deg);
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transform: rotate(360deg);
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: rotate(360deg);
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon3 {
   background-color: #2C3E50;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   text-align: center;
   vertical-align: top;
}
#wb_FontAwesomeIcon3:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon3 {
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon3 i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 15px;
}
#wb_FontAwesomeIcon3:hover i {
   color: #18BC9C;
}
#wb_FontAwesomeIcon3 {
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: 0,1.0,1.0,0,0,0,0;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon3:hover {
   -moz-transform: rotate(360deg);
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transform: rotate(360deg);
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: rotate(360deg);
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon4 {
   background-color: #2C3E50;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   text-align: center;
   vertical-align: top;
}
#wb_FontAwesomeIcon4:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon4 {
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon4 i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 14px;
}
#wb_FontAwesomeIcon4:hover i {
   color: #18BC9C;
}
#wb_FontAwesomeIcon4 {
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: 0,1.0,1.0,0,0,0,0;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon4:hover {
   -moz-transform: rotate(360deg);
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transform: rotate(360deg);
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: rotate(360deg);
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon5 {
   background-color: #2C3E50;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   text-align: center;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon5 {
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon5 i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 14px;
}
#wb_FontAwesomeIcon5:hover i {
   color: #18BC9C;
}
#wb_FontAwesomeIcon5 {
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: 0,1.0,1.0,0,0,0,0;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon5:hover {
   -moz-transform: rotate(360deg);
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transform: rotate(360deg);
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: rotate(360deg);
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6 {
   background-color: #2C3E50;
   background-image: none;
   border: 2px #FFFFFF solid;
   border-radius: 50%;
   padding: 10px 10px 10px 10px;
   text-align: center;
   vertical-align: top;
}
#wb_FontAwesomeIcon6:hover {
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon6 {
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon6 i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 14px;
}
#wb_FontAwesomeIcon6:hover i {
   color: #18BC9C;
}
#wb_FontAwesomeIcon6 {
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: 0,1.0,1.0,0,0,0,0;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6:hover {
   -moz-transform: rotate(360deg);
   -moz-transition: transform 500ms linear 0ms;
   -webkit-transform: rotate(360deg);
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   transform: rotate(360deg);
   transition: transform 500ms linear 0ms;
}
#wb_Text4 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#wb_Text4 div {
   text-align: center;
}
#wb_LayoutGrid2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: #233140;
   background-image: none;
   border: 0px #233140 solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid2 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid2 .col-1 {
   float: left;
}
#LayoutGrid2 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid2 .col-1 {
   float: none;
   width: 100%;
}
}
#wb_Text6 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 15px 0px 15px 0px;
   text-align: center;
}
#wb_Text6 div {
   text-align: center;
}
